
.title {
  font-family:sans-serif;
  font-size:24px;
  color:#bdb76b;
  text-shadow:2px 2px 0 #dcdcdc;
}
.info {
  font-family:sans-serif;
  font-size:16px;
  color:#778899;
}
/* time  */
.blank {
  background:url("../images/u1d100/siena.png") -20px  540px;
  width:8px;
  height:8px;
}
.commonTime {
  background:url("../images/u1d100/siena.png") -750px 435px;
  width:28px;
  height:28px;
}
/* ledger */
.barLine {
  background:url("../images/u1d100/gold.png") -27px 486px;
  width:20px;
  height:50px;
}
.fourLines {
  background:url("../images/u1d100/gold.png") -174px 580px;
  width:62px;
  height:60px;
}
.fiveLines {
  background:url("../images/u1d100/gold.png") -230px 580px;
  width:62px;
  height:68px;
}
.sixLines {
  background:url("../images/u1d100/gold.png") -286px 580px;
  width:62px;
  height:80px;
}
.dashedBarLine {
  background:url("../images/u1d100/siena.png") -251px 486px;
  width:20px;
  height:50px;
}
.beginBarLine {
  background:url("../images/u1d100/siena.png") -195px 486px;
  width:22px;
  height:50px;
}
.finalBarLine {
  background:url("../images/u1d100/brown.png") -139px 486px;
  width:22px;
  height:50px;
}
.dblBarLine {
  background:url("../images/u1d100/siena.png") -84px 486px;
  width:20px;
  height:50px;
}
.brace {
  background:url("../images/u2300/bronze.png") -106px 240px;
  width:28px;
  height:142px;
}
.braceTop {
  background:url("../images/u2300/saddlebrown.png") -194px 264px;
  width:28px;
  height:46px;
}
.braceMid {
  background:url("../images/u2300/saddlebrown.png") -184px 206px;
  width:28px;
  height:90px;
}
.braceLow {
  background:url("../images/u2300/saddlebrown.png") -194px 106px;
  width:28px;
  height:52px;
}
.bracketTop {
  background:url("../images/u2300/bronze.png") -228px 150px;
  width:28px;
  height:58px;
}
.bracketLow {
  background:url("../images/u2300/bronze.png") -228px 70px;
  width:28px;
  height:58px;
}
.shimTall {
  background:url("../images/u2300/bronze.png") -138px 94px;
  width:20px;
  height:86px;
}
/* clefs */
.bassClef {
  background:url("../images/u1d100/ruby.png") -132px 405px;
  width:45px;
  height:48px;
}
.drumClef {
  background:url("../images/u1d100/ruby.png") -246px 405px;
  width:28px;
  height:54px;
}
.tenorClef {
  background:url("../images/u1d100/ruby.png") -75px 405px;
  width:40px;
  height:55px;
}
.trebleClef {
  background:url("../images/u1d100/ruby.png") -21px 405px;
  width:30px;
  height:62px;
}
/* accidentals */
.flat {
  background:url("../images/u1d100/siena.png") -352px 555px;
  width:40px;
  height:40px;
}
.natural {
  background:url("../images/u1d100/siena.png") -415px 555px;
  width:30px;
  height:30px;
}
.sharp {
  background:url("../images/u1d100/siena.png") -470px 555px;
  width:30px;
  height:30px;
}
.dblFlat {
  background:url("../images/u1d100/siena.png") -352px 380px;
  width:40px;
  height:40px;
}
.dblSharp {
  background:url("../images/u1d100/siena.png") -310px 362px;
  width:15px;
  height:15px;
}
/* notes and rest  */
.xHead {
  background:url("../images/u1d100/siena.png") -415px  367px;
  width:30px;
  height:30px;
}
.plusHead {
  background:url("../images/u1d100/siena.png") -442px 270px;
  width:30px;
  height:30px;
}
.xCircleHead {
  background:url("../images/u1d100/siena.png") -498px 271px;
  width:30px;
  height:30px;
}
.parenthesis {
  background:url("../images/u1d100/siena.png") -555px  271px;
  width:30px;
  height:30px;
}
.voidCluster {
  background:url("../images/u1d100/siena.png") -45px  536px;
  width:40px;
  height:50px;
}
.darkCluster {
  background:url("../images/u1d100/siena.png") -102px  536px;
  width:40px;
  height:50px;
}
.voidTriLeft {
  background:url("../images/u1d100/siena.png") -43px  95px;
  width:30px;
  height:30px;
}
.darkTriLeft {
  background:url("../images/u1d100/siena.png") -93px  95px;
  width:30px;
  height:30px;
}
.voidTriRight {
  background:url("../images/u1d100/siena.png") -145px  95px;
  width:30px;
  height:30px;
}
.darkTriRight {
  background:url("../images/u1d100/siena.png") -195px  95px;
  width:30px;
  height:30px;
}
.voidSquare {
  background:url("../images/u1d100/siena.png") -324px  97px;
  width:30px;
  height:30px;
}
.darkSquare {
  background:url("../images/u1d100/siena.png") -364px  97px;
  width:30px;
  height:30px;
}
.voidTriUp {
  background:url("../images/u1d100/siena.png") -404px  95px;
  width:30px;
  height:30px;
}
.darkTriUp {
  background:url("../images/u1d100/siena.png") -444px  95px;
  width:30px;
  height:30px;
}
.voidTriDown {
  background:url("../images/u1d100/siena.png") -484px  98px;
  width:30px;
  height:30px;
}
.darkTriDown {
  background:url("../images/u1d100/siena.png") -524px  98px;
  width:30px;
  height:30px;
}
.voidNoteHead {
  background:url("../images/u1d100/siena.png") -354px 320px;
  width:40px;
  height:40px;
}
.darkNoteHead {
  background:url("../images/u1d100/siena.png") -354px 273px;
  width:40px;
  height:40px;
}
.multiRest {
  background:url("../images/u1d100/siena.png") -50px  333px;
  width:30px;
  height:30px;
}
.multiBarRest {
  background:url("../images/u1d100/siena.png") -188px  327px;
  width:30px;
  height:20px;
}
.breve {
  background:url("../images/u1d100/siena.png") -18px  248px;
  width:40px;
  height:30px;
}
.wholeNote {
  background:url("../images/u1d100/siena.png") -23px 195px;
  width:30px;
  height:22px;
}
.wholeRest {
  background:url("../images/u1d100/siena.png") -23px 293px;
  width:30px;
  height:30px;
}
.halfNoteDown {
  background:url("../images/u1d100/siena.png") -78px 228px;
  width:32px;
  height:58px;
}
.halfNoteUp {
  background:url("../images/u1d100/siena.png") -78px 170px;
  width:32px;
  height:58px;
}
.halfRest {
  background:url("../images/u1d100/siena.png") -78px 295px;
  width:30px;
  height:30px;
}
.quarterNoteDown {
  background:url("../images/u1d100/siena.png") -134px 229px;
  width:32px;
  height:58px;
}
.quarterNoteUp {
  background:url("../images/u1d100/siena.png") -132px 170px;
  width:32px;
  height:58px;
}
.quarterRest {
  background:url("../images/u1d100/siena.png") -134px 298px;
  width:30px;
  height:40px;
}
.eigthNoteDown {
  background:url("../images/u1d100/siena.png") -188px 228px;
  width:32px;
  height:58px;
}
.eigthNoteUp {
  background:url("../images/u1d100/siena.png") -188px 168px;
  width:32px;
  height:58px;
}
.eigthRest {
  background:url("../images/u1d100/siena.png") -190px 290px;
  width:30px;
  height:40px;
}
.sixteenthNoteDown {
  background:url("../images/u1d100/siena.png") -245px 228px;
  width:32px;
  height:58px;
}
.sixteenthNoteUp {
  background:url("../images/u1d100/siena.png") -245px 168px;
  width:32px;
  height:58px;
}
.sixteenthRest {
  background:url("../images/u1d100/siena.png") -246px 296px;
  width:30px;
  height:40px;
}
.thirty2ndNoteDown {
  background:url("../images/u1d100/siena.png") -301px 231px;
  width:32px;
  height:58px;
}
.thirty2ndNoteUp {
  background:url("../images/u1d100/siena.png") -301px 165px;
  width:32px;
  height:58px;
}
.thirty2ndRest {
  background:url("../images/u1d100/siena.png") -304px 306px;
  width:30px;
  height:50px;
}
.brevis {
  background:url("../images/u1d100/siena.png") -106px  327px;
  width:30px;
  height:20px;
}
.voidSemiBrevis {
  background:url("../images/u1d100/siena.png") -358px 198px;
  width:30px;
  height:30px;
}
.darkSemiBrevis {
  background:url("../images/u1d100/siena.png") -358px 175px;
  width:30px;
  height:30px;
}
.voidMinimaDown {
  background:url("../images/u1d100/siena.png") -414px 225px;
  width:30px;
  height:52px;
}
.voidMinimaUp {
  background:url("../images/u1d100/siena.png") -414px 168px;
  width:30px;
  height:52px;
}
.darkMinimaDown {
  background:url("../images/u1d100/siena.png") -470px 225px;
  width:30px;
  height:52px;
}
.darkMinimaUp {
  background:url("../images/u1d100/siena.png") -470px 168px;
  width:30px;
  height:52px;
}
.semiMinimaDown {
  background:url("../images/u1d100/siena.png") -527px 225px;
  width:30px;
  height:52px;
}
.semiMinimaUp {
  background:url("../images/u1d100/siena.png") -527px 168px;
  width:30px;
  height:52px;
}
.fusaDown {
  background:url("../images/u1d100/siena.png") -584px 225px;
  width:30px;
  height:52px;
}
.fusaUp {
  background:url("../images/u1d100/siena.png") -584px 168px;
  width:30px;
  height:52px;
}
/* note relation  */
.beam {
  background:url("../images/u1d100/siena.png") -28px 41px;
  width:74px;
  height:20px;
}
.dblBeam {
  background:url("../images/u1d100/siena.png") -140px 45px;
  width:74px;
  height:24px;
}
.shortBeam {
  background:url("../images/u1d100/siena.png") -265px 41px;
  width:46px;
  height:20px;
}
.miniBeam {
  background:url("../images/u1d100/siena.png") -265px 77px;
  width:26px;
  height:20px;
}
.dot {
  background:url("../images/u1d100/siena.png") -23px 156px;
  width:30px;
  height:22px;
}
.slurLow {
  background:url("../images/u1d100/siena.png") -481px 40px;
  width:65px;
  height:20px;
}
.slurTop {
  background:url("../images/u1d100/siena.png") -370px 40px;
  width:65px;
  height:20px;
}
.glissandoDown {
  background:url("../images/u1d100/siena.png") -745px 114px;
  width:30px;
  height:30px;
}
.glissandoUp {
  background:url("../images/u1d100/siena.png") -745px 64px;
  width:30px;
  height:30px;
}
/* repeats and codas */
.beat {
  background:url("../images/u1d100/siena.png") -470px 472px;
  width:30px;
  height:45px;
}
.repeat {
  background:url("../images/u1d100/siena.png") -526px 472px;
  width:30px;
  height:45px;
}
.repeatDots {
  background:url("../images/u1d100/siena.png") -415px 475px;
  width:30px;
  height:30px;
}
.repeatRight {
  background:url("../images/u1d100/siena.png") -360px 486px;
  width:30px;
  height:50px;
}
.repeatLeft {
  background:url("../images/u1d100/siena.png") -305px 486px;
  width:30px;
  height:50px;
}
.coda {
  background:url("../images/u1d100/cocoa.png") -527px 540px;
  width:30px;
  height:34px;
}
.sign {
  background:url("../images/u1d100/siena.png") -578px 548px;
  width:35px;
  height:40px;
}
.tremoloDownOne {
  background:url("../images/u1d100/siena.png") -753px 495px;
  width:25px;
  height:30px;
}
.tremoloUpOne {
  background:url("../images/u1d100/siena.png") -753px 548px;
  width:25px;
  height:30px;
}
.tremoloDownTwo {
  background:url("../images/u1d100/siena.png") -753px 328px;
  width:25px;
  height:30px;
}
.tremoloUpTwo {
  background:url("../images/u1d100/siena.png") -753px 380px;
  width:25px;
  height:30px;
}
.tremoloDown3 {
  background:url("../images/u1d100/siena.png") -753px 160px;
  width:25px;
  height:32px;
}
.tremoloUp3 {
  background:url("../images/u1d100/siena.png") -753px 212px;
  width:25px;
  height:32px;
}
/* dynamics */
.forte {
  background:url("../images/u1d100/siena.png") -636px 123px;
  width:36px;
  height:30px;
}
.mezzo {
  background:url("../images/u1d100/siena.png") -637px 205px;
  width:36px;
  height:27px;
}
.piano {
  background:url("../images/u1d100/siena.png") -635px 287px;
  width:36px;
  height:27px;
}
.crescendo {
  background:url("../images/u1d100/siena.png") -750px 290px;
  width:30px;
  height:30px;
}
.decrescendo {
  background:url("../images/u1d100/siena.png") -750px 254px;
  width:30px;
  height:30px;
}
.fermata {
  background:url("../images/u1d100/siena.png") -580px 68px;
  width:36px;
  height:27px;
}
.fermataLow {
  background:url("../images/u1d100/siena.png") -636px 68px;
  width:36px;
  height:27px;
}
.caesura {
  background:url("../images/u1d100/siena.png") -406px 421px;
  width:48px;
  height:32px;
}
.accent {
  background:url("../images/u1d100/siena.png") -307px 412px;
  width:20px;
  height:20px;
}
/* ornaments */
.trill {
  background:url("../images/u1d100/siena.png") -637px 375px;
  width:36px;
  height:27px;
}
.grace {
  background:url("../images/u1d100/siena.png") -643px 458px;
  width:20px;
  height:28px;
}
.flam {
  background:url("../images/u1d100/siena.png") -643px 542px;
  width:20px;
  height:28px;
}
.arpeggio {
  background:url("../images/u1d100/siena.png") -587px 472px;
  width:20px;
  height:40px;
}
.mordent {
  background:url("../images/u1d100/siena.png") -696px 69px;
  width:25px;
  height:25px;
}
.turnInvert {
  background:url("../images/u1d100/siena.png") -692px 121px;
  width:35px;
  height:25px;
}
.turn {
  background:url("../images/u1d100/siena.png") -692px 157px;
  width:35px;
  height:25px;
}


