
body {
  background-color:#eeeaaa;
}
/* layout  */
#container {
  position:relative;
  left:0;
  top:0;
  width:1200px;
  height:600px;
  background-color:#fffff0;
}
#header {
  position:relative;
  left:0;
  top:0;
  text-align:center;
  background-color:#fffff0;
  padding-top:5px;
}
#content {
  position:relative;
  left:10px;
  top:0;
}
#line00 {
  position:relative;
  left:50px;
  top:20px;
}
#braceTop00 {
  position:absolute;
  left:34px;
  top:48px;
}
#braceMid00 {
  position:absolute;
  left:24px;
  top:78px;
}
#braceLow00 {
  position:absolute;
  left:34px;
  top:148px;
}
#line01 {
  position:relative;
  left:50px;
  top:120px;
}
#line02 {
  position:relative;
  left:50px;
  top:220px;
}
#line03 {
  position:relative;
  left:50px;
  top:320px;
}
#line04 {
  position:relative;
  left:50px;
  top:420px;
}
#footer {
  position:relative;
  left:0;
  top:555px;
  background-color:#fffff0;
  padding:5px;
}
/* bars */
#bar00 {
  position:absolute;
  left:0px;
  top:30px;
}
#bar01 {
  position:absolute;
  left:270px;
  top:30px;
}
#bar02 {
  position:absolute;
  left:500px;
  top:30px;
}
#bar03 {
  position:absolute;
  left:730px;
  top:30px;
}
#bar04 {
  position:absolute;
  left:962px;
  top:30px;
}
/* sections */
#staff00 {
  position:absolute;
  left:0px;
  top:20px;
}
#staff01 {
  position:absolute;
  left:40px;
  top:20px;
}
#staff02 {
  position:absolute;
  left:84px;
  top:20px;
}
#staff03 {
  position:absolute;
  left:128px;
  top:20px;
}
#staff04 {
  position:absolute;
  left:172px;
  top:20px;
}
#staff05 {
  position:absolute;
  left:216px;
  top:20px;
}
#staff06 {
  position:absolute;
  left:260px;
  top:20px;
}
#staff07 {
  position:absolute;
  left:304px;
  top:20px;
}
#staff08 {
  position:absolute;
  left:346px;
  top:20px;
}
#staff09 {
  position:absolute;
  left:390px;
  top:20px;
}
#staff10 {
  position:absolute;
  left:434px;
  top:20px;
}
#staff11 {
  position:absolute;
  left:478px;
  top:20px;
}
#staff12 {
  position:absolute;
  left:522px;
  top:20px;
}
#staff13 {
  position:absolute;
  left:566px;
  top:20px;
}
#staff14 {
  position:absolute;
  left:610px;
  top:20px;
}
#staff15 {
  position:absolute;
  left:654px;
  top:20px;
}
#staff16 {
  position:absolute;
  left:698px;
  top:20px;
}
#staff17 {
  position:absolute;
  left:742px;
  top:20px;
}
#staff18 {
  position:absolute;
  left:786px;
  top:20px;
}
#staff19 {
  position:absolute;
  left:830px;
  top:20px;
}
#staff20 {
  position:absolute;
  left:874px;
  top:20px;
}
#staff21 {
  position:absolute;
  left:918px;
  top:20px;
}
/* template */
#clef00 {
  position:absolute;
  left:10px;
  top:27px;
}
/* line00 */
#a00 {
  position:absolute;
  left:0;
  top:0;
}
#a01 {
  position:absolute;
  left:61px;
  top:28px;
}
#a01Planet {
  position:absolute;
  left:44px;
  top:2px;
}
#a01Zodiac {
  position:absolute;
  left:62px;
  top:5px;
}
#a01TieTopBegin {
  position:absolute;
  left:84px;
  top:2px;
}
#a01TieSpanMid00 {
  position:absolute;
  left:120px;
  top:2px;
}
#a01TieSpanMid01 {
  position:absolute;
  left:155px;
  top:2px;
}
#a01TieSpanMid02 {
  position:absolute;
  left:190px;
  top:2px;
}
#a01TieSpanMid03 {
  position:absolute;
  left:225px;
  top:2px;
}
#a01TieTopEnd {
  position:absolute;
  left:260px;
  top:2px;
}
#a02 {
  position:absolute;
  left:88px;
  top:28px;
}
#a03 {
  position:absolute;
  left:115px;
  top:28px;
}
#a04 {
  position:absolute;
  left:142px;
  top:28px;
}
#a05 {
  position:absolute;
  left:169px;
  top:28px;
}
#a06 {
  position:absolute;
  left:196px;
  top:28px;
}
#a07 {
  position:absolute;
  left:223px;
  top:28px;
}
#a08 {
  position:absolute;
  left:250px;
  top:28px;
}
#a09 {
  position:absolute;
  left:290px;
  top:28px;
}
#a10 {
  position:absolute;
  left:317px;
  top:28px;
}
#a11 {
  position:absolute;
  left:344px;
  top:28px;
}
#a12 {
  position:absolute;
  left:371px;
  top:28px;
}
#a13 {
  position:absolute;
  left:398px;
  top:28px;
}
#a14 {
  position:absolute;
  left:425px;
  top:28px;
}
#a15 {
  position:absolute;
  left:452px;
  top:28px;
}
#a16 {
  position:absolute;
  left:479px;
  top:28px;
}
#a17 {
  position:absolute;
  left:520px;
  top:33px;
}
#a17Planet {
  position:absolute;
  left:504px;
  top:2px;
}
#a17Zodiac {
  position:absolute;
  left:522px;
  top:5px;
}
#a17TieTopBegin {
  position:absolute;
  left:544px;
  top:5px;
}
#a17TieSpanMid00 {
  position:absolute;
  left:580px;
  top:5px;
}
#a17TieSpanMid01 {
  position:absolute;
  left:615px;
  top:5px;
}
#a17TieSpanMid02 {
  position:absolute;
  left:650px;
  top:5px;
}
#a17TieSpanMid03 {
  position:absolute;
  left:685px;
  top:5px;
}
#a17TieTopEnd {
  position:absolute;
  left:720px;
  top:5px;
}
#a18 {
  position:absolute;
  left:547px;
  top:28px;
}
#a19 {
  position:absolute;
  left:574px;
  top:28px;
}
#a20 {
  position:absolute;
  left:601px;
  top:28px;
}
#a21 {
  position:absolute;
  left:628px;
  top:28px;
}
#a22 {
  position:absolute;
  left:655px;
  top:28px;
}
#a23 {
  position:absolute;
  left:682px;
  top:28px;
}
#a24 {
  position:absolute;
  left:709px;
  top:28px;
}
#a25 {
  position:absolute;
  left:749px;
  top:33px;
}
#a26 {
  position:absolute;
  left:776px;
  top:28px;
}
#a27 {
  position:absolute;
  left:803px;
  top:28px;
}
#a28 {
  position:absolute;
  left:830px;
  top:28px;
}
#a29 {
  position:absolute;
  left:857px;
  top:28px;
}
#a30 {
  position:absolute;
  left:884px;
  top:28px;
}
#a31 {
  position:absolute;
  left:911px;
  top:28px;
}
#a32 {
  position:absolute;
  left:938px;
  top:28px;
}
/* line01 */
#b00 {
  position:absolute;
  left:0;
  top:0;
}
#b01 {
  position:absolute;
  left:61px;
  top:44px;
}
#b02 {
  position:absolute;
  left:88px;
  top:28px;
}
#b03 {
  position:absolute;
  left:115px;
  top:28px;
}
#b04 {
  position:absolute;
  left:142px;
  top:28px;
}
#b05 {
  position:absolute;
  left:169px;
  top:28px;
}
#b06 {
  position:absolute;
  left:196px;
  top:28px;
}
#b07 {
  position:absolute;
  left:223px;
  top:28px;
}
#b08 {
  position:absolute;
  left:250px;
  top:28px;
}
#b09 {
  position:absolute;
  left:290px;
  top:44px;
}
#b10 {
  position:absolute;
  left:317px;
  top:28px;
}
#b11 {
  position:absolute;
  left:344px;
  top:28px;
}
#b12 {
  position:absolute;
  left:371px;
  top:28px;
}
#b13 {
  position:absolute;
  left:398px;
  top:28px;
}
#b14 {
  position:absolute;
  left:425px;
  top:28px;
}
#b15 {
  position:absolute;
  left:452px;
  top:28px;
}
#b16 {
  position:absolute;
  left:479px;
  top:28px;
}
#b17 {
  position:absolute;
  left:520px;
  top:44px;
}
#b18 {
  position:absolute;
  left:547px;
  top:28px;
}
#b19 {
  position:absolute;
  left:574px;
  top:28px;
}
#b20 {
  position:absolute;
  left:601px;
  top:28px;
}
#b21 {
  position:absolute;
  left:628px;
  top:28px;
}
#b22 {
  position:absolute;
  left:655px;
  top:28px;
}
#b23 {
  position:absolute;
  left:682px;
  top:28px;
}
#b24 {
  position:absolute;
  left:709px;
  top:28px;
}
#b25 {
  position:absolute;
  left:749px;
  top:44px;
}
#b26 {
  position:absolute;
  left:776px;
  top:28px;
}
#b27 {
  position:absolute;
  left:803px;
  top:28px;
}
#b28 {
  position:absolute;
  left:830px;
  top:28px;
}
#b29 {
  position:absolute;
  left:857px;
  top:28px;
}
#b30 {
  position:absolute;
  left:884px;
  top:28px;
}
#b31 {
  position:absolute;
  left:911px;
  top:28px;
}
#b32 {
  position:absolute;
  left:938px;
  top:28px;
}
/* line02 */
#c00 {
  position:absolute;
  left:0;
  top:0;
}
#c01 {
  position:absolute;
  left:61px;
  top:44px;
}
#c02 {
  position:absolute;
  left:88px;
  top:28px;
}
#c03 {
  position:absolute;
  left:115px;
  top:28px;
}
#c04 {
  position:absolute;
  left:142px;
  top:28px;
}
#c05 {
  position:absolute;
  left:169px;
  top:28px;
}
#c06 {
  position:absolute;
  left:196px;
  top:28px;
}
#c07 {
  position:absolute;
  left:223px;
  top:28px;
}
#c08 {
  position:absolute;
  left:250px;
  top:28px;
}
#c09 {
  position:absolute;
  left:290px;
  top:44px;
}
#c10 {
  position:absolute;
  left:317px;
  top:28px;
}
#c11 {
  position:absolute;
  left:344px;
  top:28px;
}
#c12 {
  position:absolute;
  left:371px;
  top:28px;
}
#c13 {
  position:absolute;
  left:398px;
  top:28px;
}
#c14 {
  position:absolute;
  left:425px;
  top:28px;
}
#c15 {
  position:absolute;
  left:452px;
  top:28px;
}
#c16 {
  position:absolute;
  left:479px;
  top:28px;
}
#c17 {
  position:absolute;
  left:520px;
  top:44px;
}
#c18 {
  position:absolute;
  left:547px;
  top:28px;
}
#c19 {
  position:absolute;
  left:574px;
  top:28px;
}
#c20 {
  position:absolute;
  left:601px;
  top:28px;
}
#c21 {
  position:absolute;
  left:628px;
  top:28px;
}
#c22 {
  position:absolute;
  left:655px;
  top:28px;
}
#c23 {
  position:absolute;
  left:682px;
  top:28px;
}
#c24 {
  position:absolute;
  left:709px;
  top:28px;
}
#c25 {
  position:absolute;
  left:749px;
  top:44px;
}
#c26 {
  position:absolute;
  left:776px;
  top:28px;
}
#c27 {
  position:absolute;
  left:803px;
  top:28px;
}
#c28 {
  position:absolute;
  left:830px;
  top:28px;
}
#c29 {
  position:absolute;
  left:857px;
  top:28px;
}
#c30 {
  position:absolute;
  left:884px;
  top:28px;
}
#c31 {
  position:absolute;
  left:911px;
  top:28px;
}
#c32 {
  position:absolute;
  left:938px;
  top:28px;
}
/* line03 */
#d00 {
  position:absolute;
  left:0;
  top:0;
}
#d01 {
  position:absolute;
  left:61px;
  top:44px;
}
#d02 {
  position:absolute;
  left:88px;
  top:28px;
}
#d03 {
  position:absolute;
  left:115px;
  top:28px;
}
#d04 {
  position:absolute;
  left:142px;
  top:28px;
}
#d05 {
  position:absolute;
  left:169px;
  top:28px;
}
#d06 {
  position:absolute;
  left:196px;
  top:28px;
}
#d07 {
  position:absolute;
  left:223px;
  top:28px;
}
#d08 {
  position:absolute;
  left:250px;
  top:28px;
}
#d09 {
  position:absolute;
  left:290px;
  top:44px;
}
#d10 {
  position:absolute;
  left:317px;
  top:28px;
}
#d11 {
  position:absolute;
  left:344px;
  top:28px;
}
#d12 {
  position:absolute;
  left:371px;
  top:28px;
}
#d13 {
  position:absolute;
  left:398px;
  top:28px;
}
#d14 {
  position:absolute;
  left:425px;
  top:28px;
}
#d15 {
  position:absolute;
  left:452px;
  top:28px;
}
#d16 {
  position:absolute;
  left:479px;
  top:28px;
}
#d17 {
  position:absolute;
  left:520px;
  top:44px;
}
#d18 {
  position:absolute;
  left:547px;
  top:28px;
}
#d19 {
  position:absolute;
  left:574px;
  top:28px;
}
#d20 {
  position:absolute;
  left:601px;
  top:28px;
}
#d21 {
  position:absolute;
  left:628px;
  top:28px;
}
#d22 {
  position:absolute;
  left:655px;
  top:28px;
}
#d23 {
  position:absolute;
  left:682px;
  top:28px;
}
#d24 {
  position:absolute;
  left:709px;
  top:28px;
}
#d25 {
  position:absolute;
  left:749px;
  top:44px;
}
#d26 {
  position:absolute;
  left:776px;
  top:28px;
}
#d27 {
  position:absolute;
  left:803px;
  top:28px;
}
#d28 {
  position:absolute;
  left:830px;
  top:28px;
}
#d29 {
  position:absolute;
  left:857px;
  top:28px;
}
#d30 {
  position:absolute;
  left:884px;
  top:28px;
}
#d31 {
  position:absolute;
  left:911px;
  top:28px;
}
#d32 {
  position:absolute;
  left:938px;
  top:28px;
}
/* line04 */
#e00 {
  position:absolute;
  left:0;
  top:0;
}
#e01 {
  position:absolute;
  left:61px;
  top:44px;
}
#e02 {
  position:absolute;
  left:88px;
  top:28px;
}
#e03 {
  position:absolute;
  left:115px;
  top:28px;
}
#e04 {
  position:absolute;
  left:142px;
  top:28px;
}
#e05 {
  position:absolute;
  left:169px;
  top:28px;
}
#e06 {
  position:absolute;
  left:196px;
  top:28px;
}
#e07 {
  position:absolute;
  left:223px;
  top:28px;
}
#e08 {
  position:absolute;
  left:250px;
  top:28px;
}
#e09 {
  position:absolute;
  left:290px;
  top:44px;
}
#e10 {
  position:absolute;
  left:317px;
  top:28px;
}
#e11 {
  position:absolute;
  left:344px;
  top:28px;
}
#e12 {
  position:absolute;
  left:371px;
  top:28px;
}
#e13 {
  position:absolute;
  left:398px;
  top:28px;
}
#e14 {
  position:absolute;
  left:425px;
  top:28px;
}
#e15 {
  position:absolute;
  left:452px;
  top:28px;
}
#e16 {
  position:absolute;
  left:479px;
  top:28px;
}
#e17 {
  position:absolute;
  left:520px;
  top:44px;
}
#e18 {
  position:absolute;
  left:547px;
  top:28px;
}
#e19 {
  position:absolute;
  left:574px;
  top:28px;
}
#e20 {
  position:absolute;
  left:601px;
  top:28px;
}
#e21 {
  position:absolute;
  left:628px;
  top:28px;
}
#e22 {
  position:absolute;
  left:655px;
  top:28px;
}
#e23 {
  position:absolute;
  left:682px;
  top:28px;
}
#e24 {
  position:absolute;
  left:709px;
  top:28px;
}
#e25 {
  position:absolute;
  left:749px;
  top:44px;
}
#e26 {
  position:absolute;
  left:776px;
  top:28px;
}
#e27 {
  position:absolute;
  left:803px;
  top:28px;
}
#e28 {
  position:absolute;
  left:830px;
  top:28px;
}
#e29 {
  position:absolute;
  left:857px;
  top:28px;
}
#e30 {
  position:absolute;
  left:884px;
  top:28px;
}
#e31 {
  position:absolute;
  left:911px;
  top:28px;
}
#e32 {
  position:absolute;
  left:938px;
  top:28px;
}


